<% provide(:title, @user.name) %>
<div class="container my-5 mx-auto">

  <%= render 'show_user_info' %>

  <%= render 'follow_form' if logged_in? %>
  
  <div class="col-md-8 m-auto mt-5">
    <% if @user.posts.any? %>
      <div class="posts">
        <h3 class="text-secondary">Posts (<%= @user.posts.count %>)</h3>
        <%= render @posts %>
      </div>
    <% end %>
    <div class="digg-pagination">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>
