<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="col-lg-6 col-md-10 mx-auto">
    <div class="form-floating ">
      <%= f.text_area :content, id: 'post-form', placeholder: 'What are you thinking?',   class: "form-control mb-2", style: "height: 100px", :required => true %>    
      <%= f.label 'What are you thinking?', for: 'post-form', class: "text-secondary form-label" %>    </div>
    <div class="mb-4">
      <div>
        <%= f.label 'Upload an image to your post...', for: 'exampleFormControlFile1', class: "text-secondary form-label" %>
      </div>
      <%= f.file_field :image, id: 'exampleFormControlFile1', accept: "image/*", class:"form-control-file" %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary px-5 mb-5 w-100" %>
  </div>
<% end %>
